body{
    background-color: whitesmoke; //whitesmoke
}
.col-md-6{
    margin-bottom: 24px;
}
.col-sm-4{
    margin-bottom: 24px;
}
.logonav{
    height: 44px;
    width: auto;
}
.myfooter{
    text-align: center;
    background-color:whitesmoke; //whitesmoke
    width: 100%;
    
}

.myfooterimg{
   height: 30px ;
   width: 30px ;
  
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color:whitesmoke;
    height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column; 
    display: flex;
    align-items: center;
    
  
}
.flex-1 {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color:whitesmoke;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
   width: 100%;
}
.flex-2{
    padding: 0;
    margin: 0;
    list-style: none;
    background-color:whitesmoke;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column; 
    display: flex;
    align-items: center;
    justify-content: center;
    
   width: 100%;
}

.mygridcontainer{
    height:100vh;
    width: 100%;
    background-color:whitesmoke;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 40px 1fr 100px;
    grid-gap: 2px;
    grid-template-areas: 
      
      "header header "
      "progress progress"
      "list list "
      "footer footer ";
}
@media(max-width:600px)
{
    .mygridcontainer{
        height:100vh;
        width: 100%;
        background-color:whitesmoke;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 40px 30% 1fr 100px;
        grid-gap: 10px;
        grid-template-areas: 
          
          "header "
          "progress"
          "list "
          "list"
          "footer";
    }
}
.header1{
    grid-area: header;
    background-color: aqua;
}
.footer1{
    grid-area: footer;
    background-color: brown;
}
.progressbar{
    grid-area: progress;
    background-color: cadetblue;
    align-self: center;
}
.list{
    grid-area: list;
    background-color: blueviolet;
    overflow-y: auto;
}
.list a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.list a:hover {
    background-color: #ccc;
}

.list a.active {
    background-color: #4CAF50;
    color: white;
}
.content{
    grid-area: content;
    background-color:whitesmoke;
    align-self:center;
    
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.course-header-grid{
    width: 100%;
    height: 300px;
    background-color:rgb(53, 52, 56);
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px;
    grid-template-areas: 
      
      "- image name "
      "- image prog"
}
@media(max-width:600px)
{
    .course-header-grid{
        width: 100%;
        height: 400px;;
        background-color:rgb(53, 52, 56);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  2fr 1fr 1fr;
        grid-gap: 2px;
        grid-template-areas: 
          
          "image "
          "name"
          "prog "
    }
}

.course-image{
    grid-area: image;
    background-color: #4CAF50;
    justify-self: center;
    align-self:center;
}
.course-name{
    grid-area: name;
    color: whitesmoke;
    justify-self: center;
    align-self:center;
    width: 75%
}
.course-prog{
    grid-area: prog;
    
    justify-self: center;
    align-self:center;
    width: 75%;
}
.arrow {
    box-sizing: border-box;
    height: 1em;
    width: 1em;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }
  
  .arrow:hover {
    border-bottom-width: 2px;
    border-right-width: 2px;
  }
  
.display-5{
    font-weight: 300;
}

.course-card:hover{
    box-shadow: 5px 5px 20px #d6d1d1;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -webkit-transition: 0.4s;
}

.card:hover{
    box-shadow: 5px 5px 20px #d6d1d1;
}
.cardrounded{
    border-radius: 5%;
}

